<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbQkKDFDZbz0zdPpiQGY36jSGvPWm0A_E</string>
	<key>GCM_SENDER_ID</key>
	<string>589695187069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.natavladimir.GenerateMusic</string>
	<key>PROJECT_ID</key>
	<string>generetemusics</string>
	<key>STORAGE_BUCKET</key>
	<string>generetemusics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589695187069:ios:6987148f5ed6babf1b9914</string>
</dict>
</plist>